* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  height: 100%;
  width: 100%;
  color: #333;
  line-height: 1.6;
  
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #339DFF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #339DFF;
}

p {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #4285f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  color: #d32f2f;
  margin-bottom: 15px;
  text-align: center;
}
